:root{
  --red:#ff3838;
}
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}
*::selection{
  background: var(--red);
  color: #fff;
}
html{
  font-size: 60%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
body{
  background-image: url(..//images/background.jpg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff3838;
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo{
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}
header .logo img{
  padding-right: 5rem;
}
header .navbar a{
  font-size: 2rem;
  margin-left: 2rem;
  color: #fff;
}
header .navbar a:hover{
  color: blue;
}
#menu-bar{
  font-size: 3rem;
  cursor: pointer;
  color: gray;
  border: 1rem solid gray;
  border-radius: 0.3rem;
  padding: 5rem 1.5rem;
  display: none;
}
section{
  padding: 2rem 9%;
}
.home{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100;
  align-items: center;
  background-color: transparent;
}
.home .homecontent{
  flex: 1 1 40rem;
  padding-top: 16.5rem;
  font-size: 30px;
  color: black;
}
.btn{
  display: inline-block;
  border: 1rem solid var(--red);
  background-color: #ff3838;
  cursor: pointer;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}
.heading{
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #790e0e;
}







































@media(max-width:991px){

  html{
    font-size: 55%;
  }
  header{
    padding: 2rem;
  }
  body{
    padding: 2rem;
  }
}
@media(max-width:768px){
  #menu-bar{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background-color: #ff3838;
    border-top: 1rem solid rgba(0, 0, 0, 0.1);
  }
  header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 2rem solid rgba(0, 0, 0, 0.1);
    border-left: 5rem solid red;
  }
}
.food .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.food .box-container .box{
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5rem;
}