body {
  margin: 0px;
  padding: 0px;
  background-image: url(../images/another.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*{
 box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.navigation-container{
  width: 100%;
  height: 69px;
  background-color: rgb(172, 38, 38);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
}
.navigation-content{
  height: 47px;
  margin: 0px 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul{
  display: flex;
}
.menu ul li a{
  padding: 0px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #fff;
  border-left: 3px solid #f5d1d1;
}
.cart{
  display: flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  float: left;
  padding-top: 20px;
  padding-left: 50px;
}
.cart a{
  color: #ffff;
  margin: 0px 10px;
}
.whats-new{
  display: flex;
  justify-content: right;
  padding-left: 20px;
  margin: 1% 0px 20px 0px;
  margin-bottom: none;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-row{
  display: flex;
}
.new{
  width: 540px;
  height: 333px;
  margin: 30px;
  margin-top: none;
  background-image: url(../images/newbckgrnd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.new h2{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 222px;
  color: aqua;
}
.new p{
  color: #ffff;
  line-height: 30px;
  padding-left: 222px;
  padding-bottom: 30PX;
  margin: 0px;
  font-size: larger;
  font-weight: bold;
}
.new button{
  margin-left: 230px;
  width: 200px;
  background-color: red;
}
.search, .order{
  width: 530px;
  height: 150px;
  margin: 10px;
  background-color: #e6d9d9;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.tools{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search p{
  color: #ffff;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  line-height: 2px;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
.text{
  background-color: #f1f1f1;
  border-radius: 20px;
  width: 250px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.text input[type=search]{
  border: none;
  background-color: transparent;
  color: #000000;
  align-items: center;
  outline: none;
}
.text button{
  height: 35px;
  width: 100px;
  border: none;
  color: palevioletred;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  outline: none;
  border-radius: 0px 20px 20px 0px;
}